<h1>Login</h1>

@if (errorMessage) {
<div>{{ errorMessage }}</div>
}

<div id="firebaseui-auth-container" class="auth-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" placeholder="Email" formControlName="email" />
    </div>
    <div>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>
    <div>
      <button type="submit">Sign In</button>
    </div>
  </form>

  <div>
    <button (click)="loginWithGoogle()">Login with google</button>
  </div>
</div>
